<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test </title>
  <link rel="shortcut icon" href="http://example.com/favicon.ico">
  <!-- Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap" rel="stylesheet">

  <!-- Materialize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- FontAwesome Styles-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
        integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">


  <!-- Material Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Custom Styles-->
  <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/data.css' %}" rel="stylesheet"/>


  {% block extrahead %}{% endblock %} {% block head_js %} {% endblock head_js %}

</head>

<body>
<div id="wrapper">
  <!-- TOP NAVBAR -->
  {% block navbar %}
  <nav class="row navbar navbar-default top-navbar" role="navigation">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <strong> Azure Test</strong>
      </a>
    </div>
    <div class="col s4 m5 l4 plain-element right-align">
      <ul class="nav navbar-top-links navbar-right">
        <li><span><a href="{% url 'django_auth_adfs:logout' %}">Logout</a></span>
          </li>
        <li><span><a href="{% url 'django_auth_adfs:login' %}">Login</a></span>
          </li>
        <li><span><a href="{% url 'django_auth_adfs:login-no-sso' %}">Login (no SSO)</a></span>
          </li>
        {% if user.is_authenticated %}
          <li>
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              <span><button class="nav-button">Logout</button></span>
            </form>
          </li>

        {% else %}
          <li><span><a class="nav-link" href="{% url 'account_login' %}">Login</a></span>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>


  {% endblock %}
  <!-- PAGE-INDEX-->
  {% block content %}

  {% endblock %}
</div>
<!-- /. WRAPPER  -->
<div class="footer">
  <p><a target="_blank"
        href="https://www.freeprivacypolicy.com/privacy/view/9b972ff9a2aaeda03f07216c15625791/">Privacy
    Policy</a> • © 2020 www.lukaszmalucha.com - All Rights Reserved • Powered by Septellar &trade;</p>
</div>
<!-- Materialize Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- custom JS -->
<script src="{% static 'js/custom-scripts.js' %}"></script>

{% block js %}
{% endblock %}
</body>

</html>
